<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-header">
      <a class="navbar-brand" href="<%= experiments_page1_path %>">Page 1</a>
      <a class="navbar-brand" href="<%= experiments_page2_path %>">Page 2</a>
      <a class="navbar-brand" href="<%= experiments_page3_path %>">Page 3</a>
    </ul>
  </div>
</nav>